h1 {
	text-align: center;

}

.jumbotron {
	background-color: lightgrey;

}

.panel-heading {
	background-color: #87CEFA;
	border-color: #ddd;
}

.btn-default {
	background-color: lightgrey;
	margin-left: 15px;
}

label {
	margin-left: 7px;
}